<div style="margin-top: 50px !important;" class="container d-flex flex-column align-items-center">
  <div class="row">
    <h3 class="font-weight-bold">Информационная страница</h3>
  </div>
  
  <div class="row">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fuga at ratione, officia illum minima quaerat
      veniam inventore delectus? Dolor quidem praesentium, soluta a minus fugit. Distinctio corrupti explicabo
      blanditiis rerum accusamus quod recusandae iure consequatur? Eveniet sequi soluta temporibus, sed libero magni
      eius eaque laboriosam a obcaecati debitis quia illo harum repellat, dolor repellendus? Quo nesciunt adipisci
      molestias eius id ab perspiciatis eveniet aspernatur. Quidem autem sapiente consectetur facere repudiandae vitae
      enim incidunt ratione dolorum dicta animi tempora laborum eligendi suscipit excepturi, reprehenderit sint non
      officia beatae repellendus natus voluptas ipsum optio. Quisquam facere dolores impedit facilis ducimus fugit
      perferendis quas odit odio cum sunt nostrum voluptate quaerat, quos dolor accusamus voluptatum tempora deserunt,
      earum, illum architecto non quae? Quo beatae repellendus voluptatibus natus qui porro impedit eaque adipisci iusto
      dolore voluptatum nulla voluptate eveniet expedita ratione quasi placeat quis ex dolor, quam quas labore,
      asperiores voluptates. Modi, asperiores! Asperiores, excepturi perferendis! Dolor rerum eligendi, quasi
      exercitationem illo impedit, quibusdam quas ea sit nobis laborum nihil tempore quia velit pariatur! Accusamus
      consectetur tempora ex voluptatem optio quisquam harum ipsa illo cumque obcaecati nobis sint eligendi id, ab culpa
      autem quo magni officia incidunt enim ratione reprehenderit iste quasi esse.<br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint fuga at ratione, officia illum minima quaerat
      veniam inventore delectus? Dolor quidem praesentium, soluta a minus fugit. Distinctio corrupti explicabo
      blanditiis rerum accusamus quod recusandae iure consequatur? Eveniet sequi soluta temporibus, sed libero magni
      eius eaque laboriosam a obcaecati debitis quia illo harum repellat, dolor repellendus? Quo nesciunt adipisci
      molestias eius id ab perspiciatis eveniet aspernatur. Quidem autem sapiente consectetur facere repudiandae vitae
      enim incidunt ratione dolorum dicta animi tempora laborum eligendi suscipit excepturi, reprehenderit sint non
      officia beatae repellendus natus voluptas ipsum optio. Quisquam facere dolores impedit facilis ducimus fugit
      perferendis quas odit odio cum sunt nostrum voluptate quaerat, quos dolor accusamus voluptatum tempora deserunt,
      earum, illum architecto non quae? Quo beatae repellendus voluptatibus natus qui porro impedit eaque adipisci iusto
      dolore voluptatum nulla voluptate eveniet expedita ratione quasi placeat quis ex dolor, quam quas labore,
      asperiores voluptates. Modi, asperiores! Asperiores, excepturi perferendis! Dolor rerum eligendi, quasi
      exercitationem illo impedit, quibusdam quas ea sit nobis laborum nihil tempore quia velit pariatur! Accusamus
      consectetur tempora ex voluptatem optio quisquam harum ipsa illo cumque obcaecati nobis sint eligendi id, ab culpa
      autem quo magni officia incidunt enim ratione reprehenderit iste quasi esse.</p>
  </div>
</div>
